asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
gunicorn
requests
python-dotenv
pymysql
mysqlclient
django-environ
google-cloud-secret-manager
django-storages
google-auth
